In [1]:
print('Hello world!')

Hello world!

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### 1. Operations and operators

In [3]:
1+1

2

In [4]:
1-1

0

In [5]:
1/2

0.5

In [6]:
2*3

6

In [7]:
2**3

8

In [8]:
6%5

1

In [9]:
5%2

1

In [10]:
5//2

2

### 2. Data type and data structure

#### 2.1. Data type

*Italic*

**Bold**

# Heading 1

## Heading 2

- List 1
- List 2
- List 3

```
I go to 
school
```

- Numeric: integer, float
- String: "", ''
- Complex: 1 + 2j
- Boolean: True/ False
- None:

In [1]:
type(1)

int

In [2]:
type(1.0)

float

In [3]:
type('abc')

str

In [4]:
type("abc")

str

In [5]:
type(1+2j)

complex

In [6]:
type(None)

NoneType

##### 2.2.1. Variable

In [7]:
a = 1

In [8]:
a

1

In [9]:
type(a)

int

In [11]:
b = 2.0
b, a

(2.0, 1)

In [12]:
type(b)

float

In [14]:
a = 3.146438594385
b = 4.436734256456

In [17]:
string_school_bla_bal = "I go to school"

In [18]:
type(string_school_bla_bal)

str

In [19]:
type(False)

bool

In [20]:
type(True)

bool

In [23]:
"Truong " + "Nguyen"

'Truong Nguyen'

In [22]:
"" == " "

False

In [24]:
"Truong " - "Nguyen"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [26]:
'Truong' * "Manh"

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
True + True

2

In [28]:
True + False

1

In [29]:
(1 + 2j) + (1 + 3j)

(2+5j)

In [31]:
1j**2

(-1+0j)

#### 2.2. Data structure

- List: [], list(())
- Tuple: (), tup
- Set: {}, set
- Dictionary: {'key': 'value'}, dict

In [2]:
li = [3, 2, 4, 6, 5]
li

[3, 2, 4, 6, 5]

**Slicing**

In [3]:
li[1]

2

In [4]:
li[2: 4]

[4, 6]

In [5]:
li

[3, 2, 4, 6, 5]

In [7]:
[method for method in dir(li) if not method.startswith('_')]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [18]:
li.extend((1, 2, 3 , 4, 5))

Function
```

def name_function(argument 1, argument 2, .... -optional):
    # bussiness logic
    return results (optional)
    
-> name_function(argument_1, ...)

```

In [9]:
li.append([10, 11, 12])

In [10]:
li

[3, 2, 4, 6, 5, [10, 11, 12]]

In [14]:
li[5][0]

10

In [ ]:
f(x, y) = 3*x + 2*y
f() = 3 + 2 + 4

In [15]:
li.clear()

In [16]:
li

[]

In [19]:
li

[1, 2, 3, 4, 5]

In [22]:
li[-2:]

[4, 5]

In [23]:
li[: 3]

[1, 2, 3]

In [24]:
li.pop()

5

In [27]:
li.extend([4, 3, 4])

In [28]:
li

[1, 2, 3, 4, 4, 3, 4]

In [29]:
li.count(4)

3

In [30]:
li

[1, 2, 3, 4, 4, 3, 4]

In [31]:
li.sort()

In [32]:
li

[1, 2, 3, 3, 4, 4, 4]

In [33]:
li.sort(reverse=True)

In [34]:
li

[4, 4, 4, 3, 3, 2, 1]

In [35]:
li.append([10, 12, 3])
li.sort()
li

TypeError: '<' not supported between instances of 'list' and 'int'

In [36]:
li

[1, 2, 3, 3, 4, 4, 4, [10, 12, 3]]

In [37]:
li.remove([10, 12, 3])
li

[1, 2, 3, 3, 4, 4, 4]

In [38]:
li.append([10, 12, 3])
li

[1, 2, 3, 3, 4, 4, 4, [10, 12, 3]]

In [39]:
li.pop(-1)
li

[1, 2, 3, 3, 4, 4, 4]

In [40]:
li_2 = [3, 4, 5, 6, 'Truong', False]
li_2

[3, 4, 5, 6, 'Truong', False]

In [42]:
li, li_2

([1, 2, 3, 3, 4, 4, 4], [3, 4, 5, 6, 'Truong', False])

In [43]:
li + li_2

[1, 2, 3, 3, 4, 4, 4, 3, 4, 5, 6, 'Truong', False]

In [44]:
li

[1, 2, 3, 3, 4, 4, 4]

In [45]:
li.pop(-1)

4

**Tuple**

![Mutable vs Immutable](https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png)

- Mutable: Có thể thay đổi giá trị, nhưng không thay đổi địa chỉ
- Immutable: Không thể thay đổi giá trị (nếu thay đổi giá trị, địa chỉ thay đổi)

In [47]:
a = 1

In [48]:
id(a)

4549027104

In [49]:
a = 2

In [50]:
id(a)

4549027136

In [51]:
li = [1, 2, 3, 4]
id(li)

140459298260360

In [52]:
li[2] = 10
li

[1, 2, 10, 4]

In [53]:
id(li)

140459298260360

In [54]:
[method for method in dir(tuple) if not method.startswith('_')]

['count', 'index']

In [55]:
tup = (1, 2, 3, 4)
tup

(1, 2, 3, 4)

In [56]:
tup[1]

2

In [57]:
tup[-2:]

(3, 4)

In [58]:
tup[-2] = 10

TypeError: 'tuple' object does not support item assignment

In [59]:
tup

(1, 2, 3, 4)

In [60]:
tup.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [61]:
tup.count(3)

1

**Set**
- Không có phần tử trùng nhau
- Không có index

![set]()

In [62]:
set_1 = {1, 1, 2, 2, 3, 3, 10, 10, 20, 20}
set_1

{1, 2, 3, 10, 20}

In [63]:
set_1[0]

TypeError: 'set' object does not support indexing

In [64]:
[method for method in dir(set) if not method.startswith('_')]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [65]:
set_1

{1, 2, 3, 10, 20}

In [66]:
set_2 = {2, 3, 5, 6, 6}
set_2

{2, 3, 5, 6}

In [67]:
set_1.difference(set_2)

{1, 10, 20}

In [68]:
set_1

{1, 2, 3, 10, 20}

In [69]:
set_2

{2, 3, 5, 6}

In [70]:
set_1.difference_update(set_2)

In [71]:
set_1

{1, 10, 20}

In [72]:
id(a)

4549027136

In [73]:
a.id()

AttributeError: 'int' object has no attribute 'id'

In [74]:
li

[1, 2, 10, 4]

In [75]:
li.id()

AttributeError: 'list' object has no attribute 'id'

In [76]:
set_1

{1, 10, 20}

In [77]:
set_2

{2, 3, 5, 6}

In [78]:
set_1.remove(10)
set_1

{1, 20}

In [79]:
set_1.remove(2)

KeyError: 2

In [81]:
set_2.add(4)

In [82]:
set_2

{2, 3, 4, 5, 6}

In [86]:
set_3 = set()
for i in set_2:
    if i % 2 == 0:
        set_3.add(i)

set_2.difference_update(set_3)
set_2

{3, 5}

In [87]:
set_1.update()

In [88]:
set_1

{1, 20}

In [89]:
set_1

{1, 20}

In [90]:
set_1.update()

In [91]:
set_1

{1, 20}

In [96]:
set_2 = (1, 10)
set_1.update()

SyntaxError: invalid syntax (<ipython-input-96-6e75ca519244>, line 2)

In [97]:
set_1

{1, 10, 20}

In [110]:
set_1.update(tuple([6]))

In [111]:
set_1

{1, 3, 4, 5, 6, 7, 10, 20}

In [ ]:
(4)

In [112]:
tuple([6])

(6,)

In [113]:
li = [1, 2, 3, 4, 5, 6]

In [114]:
li

[1, 2, 3, 4, 5, 6]

In [116]:
list(tuple(li))

[1, 2, 3, 4, 5, 6]

In [117]:
a = 1
a

1

In [119]:
int(str(a))

1

**Dictionary**
- {'key': value}

In [121]:
dict_1 = {'name': 'Truong'}
dict_1

{'name': 'Truong'}

In [123]:
dict_1['age']

KeyError: 'age'

In [125]:
dict_1.get('name')

'Truong'

In [126]:
dict_2 = {'name': ['Truong', 'Nam', 'Thu'], 'age': [30, 40, 50]}
dict_2

{'name': ['Truong', 'Nam', 'Thu'], 'age': [30, 40, 50]}

In [127]:
dict_2.get('name')

['Truong', 'Nam', 'Thu']

In [128]:
[method for method in dir(dict) if not method.startswith('_')]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [131]:
dict.fromkeys('1,234')

{'1': None, ',': None, '2': None, '3': None, '4': None}

In [132]:
dict

dict

In [133]:
dict.fromkeys('ACCD')

{'A': None, 'C': None, 'D': None}

In [137]:
dict_1.fromkeys(['name', 'age', 'university'])

{'name': None, 'age': None, 'university': None}

In [139]:
dict_2

{'name': ['Truong', 'Nam', 'Thu'], 'age': [30, 40, 50]}

In [145]:
default = ['MCI', 'BK', 'SG']
dict_2.get('abc', default)

['MCI', 'BK', 'SG']

In [146]:
dict_2.items()

dict_items([('name', ['Truong', 'Nam', 'Thu']), ('age', [30, 40, 50])])

In [150]:
for key, value in dict_2.items():
    print('Key: ', key, '- Value: ', value[0])

Key:  name - Value:  Truong
Key:  age - Value:  30

In [151]:
dict_2

{'name': ['Truong', 'Nam', 'Thu'], 'age': [30, 40, 50]}

In [155]:
dict_2.setdefault('university', ['BK', 'MCI', 'SG'])

In [157]:
dict_2.setdefault('university')

In [159]:
dict_2['university'] = ['BK', 'MCI', 'SG']

In [160]:
dict_2

{'name': ['Truong', 'Nam', 'Thu'],
 'age': [30, 40, 50],
 'university': ['BK', 'MCI', 'SG']}

In [162]:
dict_2.setdefault('hometown')
dict_2

{'name': ['Truong', 'Nam', 'Thu'],
 'age': [30, 40, 50],
 'university': ['BK', 'MCI', 'SG'],
 'hometown': None}

In [167]:
print('I\'m am "Truong"')

I'm am "Truong"

### User-defined function

```
def func_name(agurment_1, argument_2, .. - optional):
    # business logic
    return result - optional
```

lambda x, y : result

In [173]:
def squared(a):
    a = a**2
    return a

In [174]:
squared(9)

81

In [175]:
def retangular_area(width, length):
    return width * length

In [177]:
retangular_area(3, 4)

12

In [185]:
def retangular_area(width, length=12):
    """
    Calculate retangular area
    """
    if length != 12:
        return width * length
    else:
        return width * width

In [183]:
retangular_area()

130

In [186]:
def name():
    print('I am Grooo')

In [187]:
name()

I am Grooo

In [168]:
a = lambda x : x**2

In [170]:
a(3)

9

In [171]:
b = lambda x, y : x**2 * y

In [172]:
b(4, 6)

96

### Control Flow
- Sequence: Tuan tu
- Loop: For, While
- Conditional: If else

#### Loop
- Index
- Item

In [3]:
li = [6, 2, 5, 4] # Iterable

In [4]:
len(li)

4

In [7]:
# Index [0, len(li))
for i in range(0, len(li)):
    print(li[i]**2)

36
4
25
16

In [10]:
for i in range(9, -1, -2):
    print(i)

9
7
5
3
1

In [12]:
# Item
for i in li:
    print(i**2)

36
4
25
16

#### Conditional
```
If (boolean): 
    # Business logic
elif (boolean): - optional
    # Business logic
elif....: - optional
    # Business logic
else: - optional
    # Business logic
```

In [14]:
a = 0
if a > 1:
    print("Greater than 1!")

In [20]:
a = 1
if a > 1:
    print("Greater than 1!")
elif a < 1:
    print("Lesser than 1")
else:
    print("Equals to 1")

Equals to 1

#### Assignment

In [32]:
def sum_n(n):
    """
    Sum of all natural number lesser than n
    
    number: int
    Return: sum of...
    """
    sum_nn = 0
    for i in range(1, n + 1):
        sum_nn = sum_nn + i
    return sum_nn

In [33]:
a = sum_n(5)
a

15

#### Comprehension

In [40]:
{i for i in range(1, 11) if i%2==0}

{2, 4, 6, 8, 10}

In [42]:
[i if i%2 == 0 else i**2 for i in range(1, 11)]

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]